/.git/
/.github/
/.idea/
/.vscode/
/.junie/
/node_modules/
/tests/
/vendor/
/.dockerignore
/.editorconfig
/.env.example
/.gitattributes
/.gitignore
/.prettierignore
/.prettierrc
/Dockerfile
/README.md
/composer.lock
/eslint.config.js
/frankenphp
/phpunit.xml
/.php-cs-fixer.dist.php
/.php-cs-fixer.cache
/public/hot
/bootstrap/cache/.gitignore
/bootstrap/cache/*.php
/bootstrap/cache/.gitignore

