@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@font-face {
    font-family: 'Martian Grotesk';
    src: url('/fonts/martian-grotesk.ttf');
}

@theme inline {
    --font-sans: 'Martian Grotesk', Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --animate-float-y: float-y 0.5s infinite ease-out alternate;

    @keyframes float-y {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(0.125rem);
        }
    }
}

html {
    font-size: 2.5rem;
}

* {
    box-sizing: border-box;
}
